@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  margin:0;
  background-color: hsl(240, 48%, 7%);
  color: rgba(255,255,255,.8);
}

a {
  color: hsl(199, 50%, 52%);
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
  color:hsl(199, 50%, 62%);
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: auto;
}

input[type="text"] {
  width: 100%;
  border: 1px rgba(255,255,255,.2) solid;
  border-radius: .5rem;
  padding: .6rem 1rem;
  background-color: rgba(255,255,255,.07);
  color: inherit;
  font-size: 1rem;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 0 .35rem rgba(108, 108, 218, 0.2);
}

.searchbar {
  margin:1rem 0;
  display: flex;
}

.btnSettings {
  background-color: transparent;
  border: 0;
  padding: 0;
  margin-left: 1rem;
  position: relative;
}

.btnSettings > i {
  border-radius: .5rem;
  background-color: rgba(255,255,255,.2);
  color: white;
  border: 0;
  padding: 0 .65rem;
  font-size: 1.3rem;
  cursor: pointer;
  height: 100%;
  display: grid;
  place-content: center;
}

.btnSettings > i:hover, .btnSettings i:focus {
  background-color: rgba(255,255,255,.3);
}

.btnSettings .options {
  position: absolute;
  bottom: -4rem;
  right: 0;
  z-index: 1;
  background-color: hsl(240, 48%, 15%);
  padding: .75rem .45rem;
  border-radius: .5rem;
  box-shadow: 0 0 .5rem .5rem rgba(0,0,0,.25);
  visibility: hidden;
  cursor: initial;
}

.btnSettings .options div {
  width: max-content;
  min-width: 10rem;
  text-align: left;
  color: rgba(255,255,255,.8);
  display: flex;
}

.btnSettings .options div:hover {
  background-color: rgba(255,255,255,.1);
  border-radius: .5rem;
}

.btnSettings .options div input[type="checkbox"] {
  display: none;
}

.btnSettings .options div i {
  font-size: 1rem;
  margin:auto .25rem auto .5rem;
}

.green {color:#5fdc5f;}
.red {color:#ff3838;}

.btnSettings .options div label {
  cursor: pointer;
  padding: .5rem .45rem;
  font-size: .9rem;
  line-height: 1;
}

.error {
  text-align: center;
  margin-top: 5rem;
  grid-column: 2/3;
}

.error i {
  font-size: 4.5rem;
  color:white;
}

.error div {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.4;
}

.wallpapers {
  width:100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: dense;
  gap: 1.45rem;
  margin-top: 1.75rem;
  margin-bottom: 1.5rem;
}

.wallpapers .lds-dual-ring {
  grid-column: 2/3;
  margin-top: 5rem;
}

.card {
  border-radius: .5rem;
  box-shadow: 0 0 .5rem .5rem rgba(0,0,0,.25);
  height: fit-content;
}

.card .wallpaper {
  position: relative;
  display: grid;
  overflow: hidden;
}

.card img {
  width:100%;
  min-height: 300px;
  max-height: 350px;
  object-fit: cover;
  border-radius: .5rem;
}

.card .description {
  position: absolute;
  left:0;
  bottom:0;
  border-bottom-left-radius: .45rem;
  border-bottom-right-radius: .45rem;
  width: 100%;
  background: linear-gradient(transparent,rgba(0, 0, 0, 0.95));
  padding-top: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: .85rem;
  color: rgba(255,255,255,.6);
  font-size: .85rem;
}

.card .description .title {
  font-size: .95rem;
  color: rgba(255,255,255,.9);
  margin-bottom: .25rem;
  line-height: 1.5;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card .resolution {
  position: absolute;
  top:0;
  right:0;
  font-size: .8rem;
  font-weight: 500;
  background:rgba(33, 33, 104, 0.751);
  padding: .15rem .34rem;
  border-radius: .5rem;
  margin-top: .75rem;
  margin-right: .75rem;
  color: rgba(255,255,255,.95);
  letter-spacing: .025rem;
}

.card .aspect {
  position: absolute;
  top:0;
  left:0;
  font-size: .75rem;
  font-weight: 500;
  background:rgba(0, 154, 100, 0.851);
  padding: .15rem .34rem;
  border-radius: .5rem;
  margin-top: .75rem;
  margin-left: .75rem;
  color: rgba(255,255,255,.95);
  letter-spacing: .025rem;
  text-transform: uppercase;
}

.grid-span-2 {
  grid-column:span 2;
}

.nsfw {
  filter: blur(2rem);
  opacity: .5;
}

.nsfw + .description {
  border-radius: 0;
}




.lds-dual-ring {
  width: 80px;
  height: 80px;
  margin:auto;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@media (max-width:1200px) {
  .wallpapers {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: masonry;
    gap: 1.25rem;
  }
}

@media (max-width:720px) {
  .container {
    width: 92%;
  }

  .wallpapers {
    grid-template-columns: 1fr;
    grid-template-rows: masonry;
    gap: 1rem;
  }

  .card img {
    max-height: 1000px;
  }
}